body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.recipe {
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;

    flex-direction: column;
    width: 19%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    background-color: aliceblue;

}

.addRecipeBtn {

    width: 20%;
    background-color: cornflowerblue;
    margin-top: 15px;
    margin-bottom: 25px;

}
.addIngsBtn {

    background-color: cornflowerblue;
    margin-top: 15px;

    height: 40px;
}

.recipeBtn {
    background-color: cornflowerblue;
    margin-top: 15px;
    height: 40px;
}

h3 {    
    width: 100%;
    color: cornflowerblue;
    text-align: center;
}

img {
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

label {
    font-family: inherit;
    color: cornflowerblue;
    font-weight: bold;
}

.Instructions {
    font-family: inherit;
    color: cornflowerblue;
    font-weight: bold;
}

.Ingredints {
    font-family: inherit;
    color: cornflowerblue;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.actionBtn {
    background-color: cornflowerblue;
}
