@import "tailwindcss";


html, body {
  margin: 0;
  background-image: linear-gradient(black, black);
  height: 100%;
}

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

#main {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(32, 227, 84);
}
