@import "tailwindcss";


html, body {
  margin: 0;

  background-color: black;

  height: 100%;
}

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

#main {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.btn-primary {
  @apply bg-indigo-600 h-10 mt-1 font-semibold rounded-xl text-center hover:bg-indigo-700
}

.card-container{
  @apply flex justify-center flex-wrap align-middle m-2.5
}

.card{
  @apply flex flex-col w-1/5 aspect-square my-4 mx-[30px]
}

.h3-primary {
  @apply text-indigo-600 text-center font-semibold text-2xl m-1
}